*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --background-neutral: white;
}

html.dark {
  --text-color: white;
  --background-neutral: black;
}

html {
  color: var(--text-color);
  background-color: var(--background-neutral);
}
